.App {
  text-align: center;
}

.walletCard {
  display: inline-block;
}

.accountInfoDisplay {
  display: inline-block;
  margin: 0px;
}


.accountInfoDisplay {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}

.balanceDisplay {
  padding: 0px;
  margin: 0px;
}

.refugees-bg {
  margin: 0;
  height: auto;
  width: 100%;
  position: no-repeat;
}

.header_home {
position: absolute;
  
  align-items: center;
  bottom: 40%;
  color: white;
}