body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.SignupPage,
.LoginPage {
  border: 2px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 40px;
  background-color: #01B0D3;
}

.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


Link {
  text-decoration: none;
}


a {
  list-style: none;
  color: black;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 600px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  background: #515f7d;
  color: white;
  padding: 0px;
  width: 100%;
  margin-bottom: 0px;
  padding: 0px;
}

.Navbar li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.Navbar2 {
  display: flex;
  justify-content: right;
  padding: 0px;
  width: 100%;
  margin-bottom: 0px;
  padding: 10px;
}
.sign-up-btn{
  margin: 10px;
}

.logo-img {
  margin-top: 10px;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}

.EditProjectPage,
.AddProject,
.AddTask {
   border: 2px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 40px;
  background-color: rgb(239, 196, 88);
}

.EditProjectPage form,
.AddTask form,
.AddProject form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddTask button,
.AddProject button {
  display: block;
}

.TaskCard {
  background-color: #dfeef9;
}

.footer-social {
  padding: 10px;
}